@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
.Add-Item-Container{
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    position:relative;
    left:30%;
}
.Add-Item-Form{
    display: flex;
    width:fit-content;
    height: max-content;
    border-radius: 40px;
    background: #FAFCF9;
    box-shadow: 0px 0px 10px 0px #EDEEED;
    padding: 3%;
    flex-direction: column;
}
input{
    width: 18rem;
    height: 2rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

select{
    margin-top: 3%;
    margin-bottom: 1%;
    width: 20rem;
    height: 4rem;
    padding-left: 10px;
    border-style: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
}

.name{
    width: 95px;
}
.body{
    color: #a6b2a6;
    font-size: smaller;
    font-family: "League Spartan;", Helvetica;
    font-weight: 200;
    margin-left:3%;
}
label{
    color: #92AD92;
    font-size: small;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-family: "League Spartan;", Helvetica;
}

.Item{
    font-size: 30px;
    font-weight: 800;
    margin-right: 10px;
}

.labelled-form{
    display: flex;
    flex-direction: column;
}
.checkbox-component{
    display: flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.checkbox-input{
    width:auto;
    height: min-content;
}

.submit-button-add-item{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.submit-button-add-item{
    width: min-content;
    height: min-content;
    background-color: #92AD92;
    color: #EDEEED;
}